ion-row.grid-no-padding {
  --ion-grid-padding: 0;
  --ion-grid-column-padding: 0;
}

ion-icon {
  vertical-align: middle;
}


.bg-gradient {
  --background: linear-gradient(var(--ion-color-light), var(--ion-color-step-50));
}

.card-thumbnail {
  position: relative;
  height: 220px;
  background-color: var(--ion-color-medium);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .card-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 12px;
    color: #fff;
    background-image: linear-gradient(to top, rgba(0,0,0,.66), rgba(0,0,0,0));
  }

  &.size-sm {
    width: 120px;
    height: 120px;
  }

  &.size-md {
    width: 200px;
    height: 200px;
  }
}

.super-tabs-toolbar-custom {
  --super-tabs-toolbar-background: var(--ion-background-color);
  --st-indicator-color: var(--ion-color-primary);
  --st-scrollable-toolbar-padding-left: 8px;

  super-tab-button {
    --st-base-color-active: var(--ion-color-dark);
    --st-base-color-inactive: var(--ion-color-medium);
    --st-label-text-transform: capitalize;
  }
}
