<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    Get more out of your music with Premium
  </div>

  <div class="plan-list">
    <div class="plan-item">
      <div class="plan-title">
        Premium Individual
      </div>
      <div class="plan-description">
        Lorem ipsum dolor · sit amet · middot consectetur adipisicing elit · sed do eiusmod tempor incididunt ut
      </div>
    </div>

    <div class="plan-item color-2">
      <div class="plan-title">
        Premium Student
      </div>
      <div class="plan-description">
        Lorem ipsum dolor · sit amet · middot consectetur adipisicing elit · sed do eiusmod tempor incididunt ut
      </div>
    </div>

    <div class="plan-item color-3">
      <div class="plan-title">
        Premium Duo
      </div>
      <div class="plan-description">
        Lorem ipsum dolor · sit amet · middot consectetur adipisicing elit · sed do eiusmod tempor incididunt ut
      </div>
    </div>

    <div class="plan-item color-4">
      <div class="plan-title">
        Premium Family
      </div>
      <div class="plan-description">
        Lorem ipsum dolor · sit amet · middot consectetur adipisicing elit · sed do eiusmod tempor incididunt ut
      </div>
    </div>
  </div>

  <ion-list class="ion-margin-bottom">
    <ion-item button lines="none" href="https://takethatdesign.com" target="_blank">
      <ion-icon name="open-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">
        Visit <strong>Take That Design</strong>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
