<ion-tabs>
  <div class="playing-bar" (click)="openNowPlaying()">
    <ion-progress-bar value="0.25"></ion-progress-bar>

    <ion-row class="grid-no-padding ion-align-items-center">
      <ion-col size="auto">
        <ion-thumbnail>
          <img src="assets/img/img_2.png" alt="">
        </ion-thumbnail>
      </ion-col>

      <ion-col>
        <div class="playing-info">
          <div class="song-info">
            <span>Daily Mix 3</span>
            <span> · </span>
            <span><ion-text color="medium">Ariana Grande</ion-text></span>
          </div>
          <div class="device-info">
            <ion-icon name="desktop-outline"></ion-icon>
            Devices Available
          </div>
        </div>
      </ion-col>

      <ion-col size="auto">
        <ion-button fill="clear" color="medium" size="small">
        	<ion-icon slot="icon-only" name="play-sharp"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Your Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="filter-outline"></ion-icon>
      <ion-label>Premium</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
